#spellbook
{
	display:none;
	position: absolute;
	left: 5px;
	top: 5px;
}

#healthbar
{
	position: absolute;
	left: 5px;
	top: 5px;
	width: 242px;
	height: 43px;
	background-image: url('../IMG/UI/HealthbarOuter.png');
	padding-top: 9px;
	padding-left: 10px;
}
#healthbarback
{
	position: absolute;
	left: 5px;
	top: 5px;
	width: 242px;
	height: 43px;

	padding-top: 9px;
	padding-left: 10px;
}

#current_hp
{
	background-color: #5f2216;
}